{% extends 'navbar.html' %}

{% block content %}
<body>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>No</h1>
    <h1>{{request.user}}</h1>
    <h1>{{request.user}}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ username }}</h1>
    <h1>{{ request.username }}</h1>
</body>
{% endblock %}
