{% extends 'navbar.html' %}

{% block content %}
<body class="bg-gray-200">
    {% csrf_token %}
    <div class="container mx-auto py-12 mt-20">
        <h1 class="text-3xl font-bold text-center mb-8">Task List</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="taskList"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const taskListElement = document.getElementById('taskList');

            function fetchTasks() {
                fetch('http://127.0.0.1:8000/api/user_tasks/')
                    .then(response => response.json())
                    .then(data => renderTasks(data))
                    .catch(error => console.error('Error:', error));
            }

            function renderTasks(tasks) {
                tasks.forEach(task => {
                    const taskElement = document.createElement('div');
                    taskElement.classList.add('bg-white', 'rounded', 'shadow', 'p-6', 'mb-6');

                    taskElement.innerHTML = `
                        <h2 class="text-xl font-bold mb-2">${task.title}</h2>
                        <p class="text-gray-600 mb-2">${task.description}</p>
                        <p class="text-gray-600 mb-4"><strong>Priority:</strong> ${getPriorityLabel(task.priority_choice)}</p>
                        <div class="flex justify-end">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Edit</button>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">Complete</button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="deleteTask(${task.id})">Delete</button>
                        </div>
                    `;

                    taskListElement.appendChild(taskElement);
                });
            }

            function getPriorityLabel(priority) {
                const priorityLabels = ['Low', 'Medium', 'High'];
                return priorityLabels[priority - 1];
            }

            fetchTasks();
        });

        //Delete task --------------------------------------------------------------------


        function deleteTask(taskId) {
            const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        
            fetch(`http://127.0.0.1:8000/api/delete_task/${taskId}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            })
            .then(response => response.json())
            .then(data => {
                location.reload();
                fetchTasks();
                alert(data.message);
            })
            .catch(error => console.error('Error:', error));
        }
        
        
    </script>
</body>
{% endblock %}
